<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Error: QR code</title>
</head>
<body>
	<h1>There was an error while generating the qrcode.</h1>
	<p>Here is a temporary fix to the temporary method used to generate the QR code.</p>
	<p><strong>Switch your wifi network to a personal hotspot network. To scan the QR code too, make sure the scanning device is connected to the same personal hotspot network.</strong></p>
</body>
</html>