<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
			integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
		{% load static %}
		<link rel="stylesheet" href="{% static 'chain/styles.css' %}" />
		<title>Product History</title>
	</head>
	<body>
		<nav class="nav-style navbar">
			<h1>Agrichain</h1>
		</nav>
		<div class='card'>
			<div class='card-body'>
				<h1 class='card-title'>{{ product.name }}</h1>
				<p class='card-subtitle mb-2'> {{ product.description }}</p>
				<p>Cow Name: {{ cow.name }}</p>
				<p>Carbon footprint: {{co2}} kgCO2</p>
				<p>Rating: 
					<span class="rating badge rounded-pill 
					{% if rating == 'BEST' %}
					text-bg-primary
					{% elif rating == 'GOOD' %}
					text-bg-info
					{% elif rating == 'BAD' %}
					text-bg-warning
					{% else %}
					text-bg-danger
					{% endif %}">
					{{ rating }}
				</span>
				</p>
			</div>
			<ul class="list-group list-group-flush">
				<h4 class="ms-2 bold">The travel path</h4>
				<li class="list-group-item">
					<p><strong>Origin of cow</strong></p>
					<p>{{ cow.location }}</p>
				</li>
				{% for process in processes %}
				<li class="list-group-item">
					<p><strong>{{ process.name }}</strong></p>
					<p>{{ process.location }}</p>
				</li>
				{% endfor %}
			</ul>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	</body>
</html>